div {
    margin-top:50px;
    font-size: 50px;
    transform-origin: 175px 55px;
    transform: rotate(0deg);
    transition: transform 1.5s ease-out;
  }
  div:hover {
    transform-origin: 175px 55px;
    transform: rotate(360deg);
    }
  canvas {
    position: absolute;
    }